
.project-container{
    display: flex;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
   
}

.project-img{
 border: 5px solid orange;
}

.project-text{
    
}


.project-img2{
    border:4px solid orange;
}

.project-img3{
    border:4px solid orange;
}
